html, body {
    font-family: "Roboto-Regular", sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 1200px) {
    .container {
        width: 1080px;
    }
}

@media(max-width: 1199px) {
    .container {
        padding: 0px 10px;
    }
}

.full-height {
    height: 100vh;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.text-capitalize {
    text-transform: capitalize;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

/*#region margins*/
    .mb-5 {
        margin-bottom: 5px;
    }

    .mb-10 {
        margin-bottom: 10px;
    }

    .mb-15 {
        margin-bottom: 15px;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .mb-25 {
        margin-bottom: 25px;
    }

    .mb-30 {
        margin-bottom: 30px;
    }
/*#endregion*/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/*#region font-size*/
    .fs-16 {
        font-size: 16px;
    }

    .fs-18 {
        font-size: 18px;
    }

    .fs-22 {
        font-size: 22px;
    }

    .fs-24 {
        font-size: 24px;
    }

    .fs-36 {
        font-size: 36px;
    }
/*#endregion*/

.font-weight-normal {
    font-weight: 400;
}

.font-weight-bold {
    font-weight: 700;
}

.lh-19 {
    line-height: 19px;
}

.lh-21 {
    line-height: 21px;
}

.lh-26 {
    line-height: 26px;
}

.lh-28 {
    line-height: 28px;
}

.lh-56 {
    line-height: 56px;
}

/*#region colors*/
   .gray-1 {
       color: #1E1E1E;
   }

   .gray-2 {
        color: #4A4A4A;
    }
    
    .gray-3 {
        color: #808080;
    }

    .gray-4 {
        color: #c4c4c4;
    }

    .gray-5 {
        color: #9c9c9c;
    }

    .red-1 {
        color: #DE5E5E;
    }

    .white {
        color: #fff;
    }
/*#endregion*/

/*#region elements*/
    .main-btn {
        padding: 20px 30px;
        font-size: 22px;
        font-weight: 500;
        background-color: #DE5E5E;
        border-radius: 8px;
    }

    @media(max-width: 1199px) {
        .main-btn {
            padding: 20px 30px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }
    }
/*#endregion*/

/*#region section-1*/
    .section-1 {
        background-image: url('../images/background-1.jpg'), url('../images/shop-background.jpg');
        background-repeat: no-repeat;
        background-position: right center, center center;
        background-size: auto, cover;
    }

    .section-1 section {
        padding-top: 45px;
    }

    .nav-panel {
        margin-bottom: 260px;
    }

    .play-audio-box {
        display: none;
    }

    .h1-box {
        margin-bottom: 35px;
    }

    .language-switcher-box a {
        font-size: 18px;
        color: #DE5E5E;
    }

    .additional-text {
        margin-bottom: 35px;
    }

    .section-1 .main-btn {
        margin-right: 30px;
    }

    .scroll-more-box {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }

    .hamburger {
        display: none;
    }

    @media(max-width: 1199px) {
        .section-1 {
            background-image: url('../images/shop-background.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .section-1 section {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .nav-panel {
            margin-bottom: 15vw;
            align-items: center;
        }

        .logo-box {
            font-weight: 700;
            font-size: 26px;
            line-height: 30px;
        }

        .play-audio-box {
            display: block;
            margin-bottom: 15vw;
        }

        .language-switcher-box {
            display: none;
        }

        .h1-box {
            width: 100%;
            margin-top: 0px;
            margin-bottom: 25px;
            font-weight: 900;
            font-size: 33px;
            line-height: 39px;
            text-align: center;
        }

        .additional-text {
            width: 100%;
            margin-bottom: 5vw;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
        }

        .info-box {
            margin-bottom: 10vw;
            justify-content: center;
        }

        .more-info-link {
            display: none;
        }

        .mouse-icon {
            display: none;
        }

        .section-1 .main-btn {
            margin-right: 0px;
            
        }

        .hamburger {
            font: inherit;
            display: inline-block;
            overflow: visible;
            margin: 0;
            padding: 15px;
            cursor: pointer;
            transition-timing-function: linear;
            transition-duration: .15s;
            transition-property: opacity, filter;
            text-transform: none;
            color: inherit;
            border: 0;
            background-color: transparent;
        }

        .hamburger-box {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 24px;
        }

        .hamburger--spin .hamburger-inner {
            transition-timing-function: cubic-bezier(.55,.055,.675,.19);
            transition-duration: .22s;
        }

        .hamburger-inner,
        .hamburger-inner:after,
        .hamburger-inner:before {
            position: absolute;
            width: 40px;
            height: 4px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            border-radius: 4px;
            background-color: #DE5E5E;
        }

        .hamburger-inner {
            top: 50%;
            display: block;
            margin-top: -2px;
        }

        .hamburger--spin .hamburger-inner:before {
            transition: top .1s ease-in .25s,opacity .1s ease-in;
        }

        .hamburger-inner:before {
            top: -10px;
        }

        .hamburger-inner:after, .hamburger-inner:before {
            display: block;
            content: "";
        }

        .hamburger--spin .hamburger-inner:after {
            transition: bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19);
        }

        .hamburger-inner:after {
            bottom: -10px;
        }

        .hamburger--spin.is-active .hamburger-inner {
            transition-delay: .12s;
            transition-timing-function: cubic-bezier(.215,.61,.355,1);
            transform: rotate(225deg);
        }
        
        .hamburger--spin.is-active .hamburger-inner:before {
            top: 0;
            transition: top .1s ease-out,opacity .1s ease-out .12s;
            opacity: 0;
        }

        .hamburger--spin.is-active .hamburger-inner:after {
            bottom: 0;
            transition: bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
            transform: rotate(-90deg);
        }
    }

    @media(min-width: 375px) and (max-width: 767px) {
        .info-box {
            margin-bottom: 20vw;
        }
    }
/*#endregion*/

/*#region section-2*/
    .section-2 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .logos-row {
        flex-wrap: wrap;
    }

    .logos-box {
        width: 25%;
        margin-bottom: 50px;
        text-align: center;
    }

    @media(max-width: 1199px) {
        .section-2 {
            padding-top: 50px;
            padding-bottom: 40px;
        }

        .logos-box {
            padding: 10px;
            margin-bottom: 10px;
        }
    }
/*#endregion*/

/*#region section-3*/
    .section-3 {
        padding-top: 100px;
        padding-bottom: 100px;
        background: url('../images/music-background.png') no-repeat right center #FAFAFA;
        background-size: contain;
    }

    .music-text-item {
        margin-bottom: 50px;
    }

    .music-text-item h3 {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;
        color: #4A4A4A;
    }

    .music-text-item div {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        color: #808080;
    }

    @media(max-width: 1199px) {
        .section-3 {
            padding-top: 50px;
            padding-bottom: 50px;
            background: #FAFAFA;
        }

        .section-3 h2 {
            margin-top: 0px;
            margin-bottom: 60px;
            text-align: center;
        }

        .music-text-item {
            margin-bottom: 30px;
        }

        .music-text-item h3 {
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #4A4A4A;
        }

        .music-text-item div {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #808080;
        }
    }
/*#endregion*/

/*#region section-4*/
    .section-4 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .flow-text-box {
        margin-bottom: 65px;
    }

    .flow-text-box img {
        width: 40%;
        margin-right: 90px;
    }

    .flow-text-item h3 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;
        color: #4A4A4A;
    }

    .flow-text-item div {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        color: #808080;
    }

    @media(max-width: 1199px) {
        .section-4 {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .section-4 h2 {
            margin-top: 0px;
            margin-bottom: 60px;
            text-align: center;
        }

        .flow-text-item {
            margin-bottom: 15px;
        }

        .flow-text-item h3 {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;            
            color: #4A4A4A;
        }

        .flow-text-item div {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #808080;
        }

        .flow-text-item {
            order: 1;
        }

        .flow-text-box {
            flex-wrap: wrap;
        }

        .flow-text-box img {
            order: 2;
        }
    }
/*#endregion*/

/*#region section-5*/
    .section-5 {
        padding-top: 100px;
        padding-bottom: 100px;
        background: #FAFAFA;
    }

    .section-5 h2 {
        margin-bottom: 50px;
    }

    .broadcast-item-text h3 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;
        color: #4A4A4A;
    }

    .broadcast-item-text img {
        width: 86px;
        margin-right: 30px;
    }

    .broadcast-item-text div {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        color: #808080;
    }

    @media(max-width: 1199px) {
        .section-5 {
            padding-top: 50px;
            padding-bottom: 5px;
        }

        .section-5 h2 {
            margin-top: 0px;
            margin-bottom: 50px;
            font-weight: 900;
            font-size: 28px;
            line-height: 33px;
            text-align: center;
        }

        .broadcast-item-text {
            width: 100%;
            margin-bottom: 45px;
            justify-content: start;
        }

        .broadcast-item-text img {
            width: 64px;
            margin-right: 10px;
        }

        .broadcast-item-text h3 {
            margin-top: 0px;
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;            
        }
    
        .broadcast-item-text div {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #808080;
        }
    }
/*#endregion*/

/*#region section-6*/
    .section-6  {
        padding-top: 100px;
        padding-bottom: 100px;
        background: #FAFAFA;
        background: radial-gradient(84.2% 129.91% at 66.49% 50.12%, #F0F7F5 40.83%, #CBCAFB 100%);
    }

    .section-6 h2 {
        margin-bottom: 15px;
    }

    .section-6 div {
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        color: #808080;
    }

    @media(max-width: 1199px) {
        .section-6  {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .section-6 h2 {
            margin-bottom: 15px;
            font-weight: 900;
            font-size: 26px;
            line-height: 30px;
            text-align: center;
        }

        .section-6 div {
            margin-bottom: 50px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #808080;
        }
    }
/*#endregion*/

/*#region section-7*/
    .section-7  {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-7 h2 {
        margin-bottom: 45px;
    }

    .faq-box {
        margin-bottom: 45px;
    }

    .section-7 .faq-title {
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }

    .section-7 .answer-box {
        font-size: 16px;
        line-height: 19px;
    }

    @media(max-width: 1199px) {
        .section-7  {
            padding-top: 50px;
            padding-bottom: 5px;
        }

        .section-7 h2 {
            margin-bottom: 45px;
            font-weight: 900;
            font-size: 28px;
            line-height: 33px;
            text-align: center;
        }

        .section-7 .faq-title {
            margin-bottom: 5px;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }

        .section-7 .answer-box {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }
    }
/*#endregion*/

/*#region section-8*/
    .section-8  {
        padding-top: 100px;
        padding-bottom: 100px;
        background: #FAFAFA;
    }

    .section-6 h2 {
        margin-bottom: 30px;
    }

    @media(max-width: 1199px) {
        .section-8  {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .section-6 h2 {
            margin-top: 0;
            margin-bottom: 15px;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }

        .section-8 .text {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }
    }
/*#endregion*/

/*#region section-9*/
    .section-9  {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .social-box {
        margin-bottom: 30px;
    }

    .social-box .logo-text {
        margin-right: 20px;
    }

    .social-link {
        display: inline-block;
    }

    .social-link + .social-link {
        margin-left: 10px;
    }

    .company-info {
        margin-bottom: 75px;
    }
    
    .company-links-box + .company-links-box {
        margin-left: 45px;
    }

    .company-links-box a + a {
        margin-top: 15px;
    }

    .company-links a {
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #DE5E5E;
    }

    .contacts-links-box a {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #4A4A4A;
    }
/*#endregion*/